#ts-preloader-absolute53 {
    height: 100%;
    width: 100%;
    z-index: 10000;
    top: 0;
    left: 0;
    position: fixed;
}

#tscssload-global {
    width: 68px;
    margin: auto;
    top: 50%;
    position: relative;
    cursor: pointer;
    height: 58px;
    z-index: 10001;
}

.tscssload-mask {
    position: absolute;
    border-radius: 2px;
    overflow: hidden;
    perspective: 1000;
    -o-perspective: 1000;
    -ms-perspective: 1000;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.tscssload-plane {
    background: #379CB0;
    width: 400%;
    height: 100%;
    position: absolute;
    z-index: 100;
    transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    perspective: 1000;
    -o-perspective: 1000;
    -ms-perspective: 1000;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

#tscssload-top .tscssload-plane {
    z-index: 2000;
    animation: cssload-trans1 1.5s ease-in infinite 0s backwards;
    -o-animation: cssload-trans1 1.5s ease-in infinite 0s backwards;
    -ms-animation: cssload-trans1 1.5s ease-in infinite 0s backwards;
    -webkit-animation: cssload-trans1 1.5s ease-in infinite 0s backwards;
    -moz-animation: cssload-trans1 1.5s ease-in infinite 0s backwards;
}

#tscssload-middle .tscssload-plane {
    background: rgb(0, 0, 0);
    transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    animation: cssload-trans2 1.5s linear infinite 0.35s backwards;
    -o-animation: cssload-trans2 1.5s linear infinite 0.35s backwards;
    -ms-animation: cssload-trans2 1.5s linear infinite 0.35s backwards;
    -webkit-animation: cssload-trans2 1.5s linear infinite 0.35s backwards;
    -moz-animation: cssload-trans2 1.5s linear infinite 0.35s backwards;
}

#tscssload-bottom .tscssload-plane {
    z-index: 2000;
    animation: cssload-trans3 1.5s ease-out infinite 0.81s backwards;
    -o-animation: cssload-trans3 1.5s ease-out infinite 0.81s backwards;
    -ms-animation: cssload-trans3 1.5s ease-out infinite 0.81s backwards;
    -webkit-animation: cssload-trans3 1.5s ease-out infinite 0.81s backwards;
    -moz-animation: cssload-trans3 1.5s ease-out infinite 0.81s backwards;
}

#tscssload-top {
    width: 52px;
    height: 19px;
    left: 19px;
    transform: skew(-15deg, 0);
    -o-transform: skew(-15deg, 0);
    -ms-transform: skew(-15deg, 0);
    -webkit-transform: skew(-15deg, 0);
    -moz-transform: skew(-15deg, 0);
    z-index: 100;
}

#tscssload-middle {
    width: 32px;
    height: 19px;
    left: 19px;
    top: 15px;
    transform: skew(-15deg, 40deg);
    -o-transform: skew(-15deg, 40deg);
    -ms-transform: skew(-15deg, 40deg);
    -webkit-transform: skew(-15deg, 40deg);
    -moz-transform: skew(-15deg, 40deg);
}

#tscssload-bottom {
    width: 52px;
    height: 19px;
    top: 29px;
    transform: skew(-15deg, 0);
    -o-transform: skew(-15deg, 0);
    -ms-transform: skew(-15deg, 0);
    -webkit-transform: skew(-15deg, 0);
    -moz-transform: skew(-15deg, 0);
}

@keyframes cssload-trans1 {
    from {
        transform: translate3d(52px, 0, 0);
    }
    to {
        transform: translate3d(-244px, 0, 0);
    }
}

@-o-keyframes cssload-trans1 {
    from {
        -o-transform: translate3d(52px, 0, 0);
    }
    to {
        -o-transform: translate3d(-244px, 0, 0);
    }
}

@-ms-keyframes cssload-trans1 {
    from {
        -ms-transform: translate3d(52px, 0, 0);
    }
    to {
        -ms-transform: translate3d(-244px, 0, 0);
    }
}

@-webkit-keyframes cssload-trans1 {
    from {
        -webkit-transform: translate3d(52px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(-244px, 0, 0);
    }
}

@-moz-keyframes cssload-trans1 {
    from {
        -moz-transform: translate3d(52px, 0, 0);
    }
    to {
        -moz-transform: translate3d(-244px, 0, 0);
    }
}

@keyframes cssload-trans2 {
    from {
        transform: translate3d(-156px, 0, 0);
    }
    to {
        transform: translate3d(52px, 0, 0);
    }
}

@-o-keyframes cssload-trans2 {
    from {
        -o-transform: translate3d(-156px, 0, 0);
    }
    to {
        -o-transform: translate3d(52px, 0, 0);
    }
}

@-ms-keyframes cssload-trans2 {
    from {
        -ms-transform: translate3d(-156px, 0, 0);
    }
    to {
        -ms-transform: translate3d(52px, 0, 0);
    }
}

@-webkit-keyframes cssload-trans2 {
    from {
        -webkit-transform: translate3d(-156px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(52px, 0, 0);
    }
}

@-moz-keyframes cssload-trans2 {
    from {
        -moz-transform: translate3d(-156px, 0, 0);
    }
    to {
        -moz-transform: translate3d(52px, 0, 0);
    }
}

@keyframes cssload-trans3 {
    from {
        transform: translate3d(52px, 0, 0);
    }
    to {
        transform: translate3d(-214px, 0, 0);
    }
}

@-o-keyframes cssload-trans3 {
    from {
        -o-transform: translate3d(52px, 0, 0);
    }
    to {
        -o-transform: translate3d(-214px, 0, 0);
    }
}

@-ms-keyframes cssload-trans3 {
    from {
        -ms-transform: translate3d(52px, 0, 0);
    }
    to {
        -ms-transform: translate3d(-214px, 0, 0);
    }
}

@-webkit-keyframes cssload-trans3 {
    from {
        -webkit-transform: translate3d(52px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(-214px, 0, 0);
    }
}

@-moz-keyframes cssload-trans3 {
    from {
        -moz-transform: translate3d(52px, 0, 0);
    }
    to {
        -moz-transform: translate3d(-214px, 0, 0);
    }
}

@keyframes cssload-animColor {
    from {
        background: red;
    }
    25% {
        background: yellow;
    }
    50% {
        background: green;
    }
    75% {
        background: brown;
    }
    to {
        background: blue;
    }
}

@-o-keyframes cssload-animColor {
    from {
        background: red;
    }
    25% {
        background: yellow;
    }
    50% {
        background: green;
    }
    75% {
        background: brown;
    }
    to {
        background: blue;
    }
}

@-ms-keyframes cssload-animColor {
    from {
        background: red;
    }
    25% {
        background: yellow;
    }
    50% {
        background: green;
    }
    75% {
        background: brown;
    }
    to {
        background: blue;
    }
}

@-webkit-keyframes cssload-animColor {
    from {
        background: red;
    }
    25% {
        background: yellow;
    }
    50% {
        background: green;
    }
    75% {
        background: brown;
    }
    to {
        background: blue;
    }
}

@-moz-keyframes cssload-animColor {
    from {
        background: red;
    }
    25% {
        background: yellow;
    }
    50% {
        background: green;
    }
    75% {
        background: brown;
    }
    to {
        background: blue;
    }
}


/*********************************************/

#ts-preloader-absolute53 .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: white;
    z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}

#ts-preloader-absolute53 .loader-section.section-left {
    left: 0;
}

#ts-preloader-absolute53 .loader-section.section-right {
    right: 0;
}


/* Loaded */

.loaded #ts-preloader-absolute53 .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #ts-preloader-absolute53 .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #tscssload-global {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #ts-preloader-absolute53 {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}